#filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filters .filterItems {
  display: flex;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  background-color: var(--bg-color);
  border-radius: var(--radius);
}

#resetFilter {
  background-color: transparent;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

#resetFilter:active {
  color: var(--accent-color);
}

#filters .filterItems label {
  cursor: pointer;
}

.filterItems__item:hover {
  user-select: none;
  cursor: pointer;
}

.filterItems__item input[type="radio"]:checked + label,
.filterItems__item input[type="checkbox"]:checked + label {
  color: var(--accent-color);
}
